<template>
  <Layout>
    <section class="section">
      <h1 class="title is-2 is-uppercase">{{$page.category.name}}</h1>
    </section>
    <section class="section">
      <product-grid :products="$page.category.belongsTo.edges"></product-grid>
    </section>
  </Layout>
</template>

<page-query>
  query Category($id: ID!) {
    category(id: $id) {
      id
      name
      slug
      image {
        src
      }
      belongsTo {
        edges {
          node {
            ... on Product {
              id
              name
              price
              slug
              images {
                src
              }
            }
          }
        }
      }
    }
  }
</page-query>

<script>
import ProductGrid from '../components/ProductGrid.vue'

export default {
  name: 'Category',
  components: {
    ProductGrid
  }
}
</script>

<style scoped>

</style>
