<template>
  <Layout>
    <div class="columns">
      <div class="column is-one-third">
        <section class="section">
        <figure class="image">
          <img :src="$page.product.images[0].src">
        </figure>
        </section>
      </div>
      <div class="column is-two-thirds">
        <section class="section">
          <h1 class="title is-2">
            {{ $page.product.name }}
          </h1>
          <span v-html="$page.product.description"></span>
        </section>
        <section class="section">
          <b-field :key="att.id" :label="att.name" v-for="(att, index) in $page.product.attributes">
            <b-select :placeholder="placeHolderText(att.name)" v-model="attributes[index]">
              <option
                v-for="option in att.options"
                :value="getAttValue(att, option)"
                :key="option">
                {{ option }}
              </option>
            </b-select>
          </b-field>
          <b-button
            :disabled="!completeAttributes"
            @click="addProduct($page.product)"
            type="is-primary">${{ $page.product.price }} - Añadir al carrito
          </b-button>
        </section>
      </div>
    </div>
  </Layout>
</template>

<page-query>
  query Product($id: ID!) {
    product(id: $id) {
      id
      name
      description
      amount
      price
      currency
      slug
      images {
        src
      }
      attributes {
        id
        name
        options
      },
    }
  }
</page-query>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Product',
  data: function () {
    return {
      attributes: [],
    }
  },
  methods: {
    ...mapActions('cart', [
      'addProductToCart'
    ]),
    getAttValue (att, option) {
      return { 'name': att.name,
               'option': option }
    },
    snackbar() {
      var message = `${this.$page.product.name} se ha añadido a tu carrito.`
      this.$buefy.snackbar.open({
        message: message,
        position: 'is-top',
        actionText: 'Ver carrito',
        onAction: () => {
          this.$router.push({ path: '/cart'})
        }
      })
    },
    addProduct (product) {
      product.chosenAtts = [ ...this.attributes ]
      product.dispId = this.productDispId(product)
      this.addProductToCart({ ...product })
      this.snackbar()
    },
    productDispId (p) {
      if (p.hasOwnProperty('chosenAtts')) {

        var aIds = p.id

        p['chosenAtts'].forEach(e => {
          aIds += e.option
        })

        return aIds
      }

      return p.id
    },
    placeHolderText (attName) {
      if (attName === 'Size') {
        return 'Escoge un tamaño'
      } else if (attName === 'Color') {
        return 'Escoge un color'
      } else {
        return 'Escoge atributo'
      }
    }
  },
  computed: {
    completeAttributes: function () {
      var numberOfAtts = this.$page.product.attributes.length

      if (numberOfAtts > 0) {
        if (this.attributes.length === numberOfAtts) {
          return true
        }

        return false
      } else {
        return true
      }
    }
  },
  metaInfo: {
    title: 'Hecho en Luzbella'
  }
}
</script>
