<template>
  <form ref="form" class="form-margin">
    <b-field grouped>
      <b-field label="Nombre" expanded>
        <b-field>
          <b-input :value="name"
            @input="validity"
            placeholder="Nombre"
            required>
          </b-input>
        </b-field>
      </b-field>
      <b-field label="Apellidos" expanded>
        <b-input :value="lastName"
          @input="validity"
          placeholder="Apellidos"
          required>
        </b-input>
      </b-field>
    </b-field>

    <b-field label="País">
      <b-select :value="country"
        @input="validity"
        placeholder="Seleccione país"
        icon="earth"
        required>
        <option value="PR">Puerto Rico</option>
        <option value="USA">Estados Unidos</option>
      </b-select>
    </b-field>

    <b-field label="Estado" v-show="country === 'USA'">
      <b-select :value="state"
        placeholder="Seleccione estado"
        icon=""
        @input="validity"
        :required="country === 'USA'">
        <option v-for="(state, code) in states"
          :key="code"
          :value="code" >{{ state }}</option>
      </b-select>
    </b-field>

    <b-field label="Dirección">
      <b-input :value="line1"
        @input="validity"
        placeholder="Número de la casa y nombre de la calle"
        type="text"
        icon="map-marker"
        required>
      </b-input>
    </b-field>

    <b-field>
      <b-input :value="line2"
        @input="validity"
        placeholder="Número de apartamento, etc"></b-input>
    </b-field>

    <b-field label="Ciudad" v-if="country === 'USA'">
      <b-input :value="city"
        placeholder="Ciudad"
        type="text"
        icon="city"
        :required="country === 'USA'">
      </b-input>
    </b-field>

    <b-field label="Municipio" v-else>
      <b-select :value="city"
        placeholder="Seleccione municipio"
        icon="city"
        @input="validity"
        :required="country === 'PR'">
        <option v-for="municipality in municipalities"
          :key="municipality"
          :value="municipality" >{{ municipality }}</option>
      </b-select>
    </b-field>

    <b-field label="Código postal">
      <b-input :value="zipcode"
        @input="validity"
        placeholder="Código postal"
        type="text"
        pattern="[0-9]{5}"
        required>
      </b-input>
    </b-field>
  </form>

</template>

<script>
import { createHelpers } from 'vuex-map-fields'

const { mapFields } = createHelpers({
  getterType: 'checkout/getField',
  mutationType: 'checkout/updateField',
})

import formMixin from '../mixins/formMixin.js'
import statesMixin from '../mixins/statesMixin.js'
import municipalitiesMixin from '../mixins/municipalitiesMixin.js'

export default {
  name: 'BillingForm',
  mixins: [formMixin, statesMixin, municipalitiesMixin],
  props: {
    formName: String
  },
  computed: {
    form () {
      return this.name && this.lastName &&
             this.country && this.state &&
             this.line1 && this.line2 &&
             this.city && this.zipcode
    },
    ...mapFields([
      'billing.name',
      'billing.lastName',
      'billing.country',
      'billing.state',
      'billing.line1',
      'billing.line2',
      'billing.city',
      'billing.zipcode',
    ])
  },
}
</script>

<style scoped>
 .form-margin {
   margin-top: 2rem;
 }
</style>
