<template>
  <form ref="form">
    <b-field label="Teléfono">
      <b-input v-model="phone"
        placeholder="Teléfono"
        type="tel"
        icon="phone"
        required>
      </b-input>
    </b-field>

    <b-field label="Correo electrónico">
      <b-input v-model="email"
        placeholder="Correo electrónico"
        type="email"
        maxlength="30"
        icon="email"
        required>
      </b-input>
    </b-field>
  </form>
</template>

<script>
import { createHelpers } from 'vuex-map-fields'

const { mapFields } = createHelpers({
  getterType: 'checkout/getField',
  mutationType: 'checkout/updateField',
})

import formMixin from '../mixins/formMixin.js'

export default {
  name: 'ContactForm',
  mixins: [formMixin],
  props: {
    formName: String
  },
  computed: {
    form () {
      return this.phone && this.email
    },
    ...mapFields([
      'contact.phone',
      'contact.email',
    ])
  }
}
</script>

<style>

</style>
