<template>
  <b-navbar type="is-primary" wrapper-class="container">
    <template slot="brand">
      <b-navbar-item tag="g-link" to="/">
        {{ siteName }}
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item tag="g-link" to="/">Tienda</b-navbar-item>
      <b-navbar-dropdown label="Categorías">
        <b-navbar-item v-for="c in $static.categories.edges"
          :key="c.node.id"
          :to="'category/' + c.node.slug"
          tag="g-link">
          {{ c.node.name }}
        </b-navbar-item>
      </b-navbar-dropdown>
      <b-navbar-item tag="g-link" to="/products/">Todos los Productos</b-navbar-item>
    </template>
    <template slot="end">
      <b-navbar-item tag="g-link" to="/help/">Ayuda</b-navbar-item>
      <b-navbar-item tag="g-link" to="/about/">Sobre nosotros</b-navbar-item>
      <b-navbar-item tag="g-link" to="/cart/">
        <b-icon
          icon="cart"
          size="is-small">
        </b-icon>
        <span>Carrito ({{ cartTotalItems }})</span>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<static-query>
  query WooCategory {
    categories: allCategory {
      edges {
        node {
          id
          name
          slug
        }
      }
    }
  }
</static-query>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Nav',
  props: {
    siteName: String
  },
  computed: {
    ...mapGetters('cart', {
      cartTotalItems: 'cartTotalItems'
    })
  }
}
</script>

<style>
</style>
