<template>
  <section>
    <div class="columns is-multiline">
      <div class="column is-3 cont has-text-centered" v-for="p in products" :key="p.node.id">
        <div class="is-overlay dark"></div>
        <figure class="image bottom-margin">
          <g-link :to="'/product/' + p.node.slug">
            <img :src="p.node.images[0].src">
          </g-link>
        </figure>
        <g-link :to="'/product/' + p.node.slug" class="is-size-4">{{ p.node.name }}</g-link> - <span class="is-size-4">{{ p.node.price }}</span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ProductGrid',
  props: {
    products: Array
  }
}
</script>

<style scoped>
 .cont {
   position: relative;
   display: inline-block;
 }

 .cont:hover > .dark {
   background: rgba(0,0,0,0.1);
   transition: 0.5s ease-in-out;
   z-index: 100;
   pointer-events: none;
 }

 .bottom-margin {
   margin-bottom: 2em;
 }
</style>
