<template>
  <div class="empty">
    <div class="empty-icon"><i class="icon icon-check"></i></div>
    <p class="empty-title h5">Ha terminado la sesión.</p>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'LoggedOut',
  created () {
    this.logout()
  },
  methods: {
    ...mapActions(['logout'])
  }
}
</script>

<style></style>
