<!-- components/Login.vue -->
<template>
  <div class="columns">
    <div class="column col-6 col-mr-auto">
      <h2>Entra or crea tu cuenta</h2>
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-input" id="email" v-model="email">
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Contraseña</label>
        <input type="password" class="form-input" id="password" v-model="password">
      </div>
      <div class="form-group">
        <a class="btn btn-primary mr-2" @click="authenticate" :disabled="!formCompleted">Entra</a>
        <a class="btn" @click="register" :disabled="!formCompleted">Crea tu cuenta</a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    authenticate () {
      this.$store.dispatch('login', { email: this.email, password: this.password })
        .then(() => this.$router.push('/'))
    },
    register () {
      this.$store.dispatch('register', { email: this.email, password: this.password })
        .then(() => this.$router.push('/'))
    }
  },
  computed: {
    formCompleted: function () {
      if (this.email && this.password) {
        return true
      }

      return false
    }
  }
}
</script>

<style lang="scss">
 .error-msg {
   color: red;
   font-weight: bold;
 }
</style>
