<template>
<div class="columns">
  <div class="column col-12">
    <h2>Ordenes Pendientes</h2>
  </div>
  <div class="column col-12">
    <div class="form-group order-options">
      <div class="form-inline mx-2">
        <button @click.prevent="fetchOrders" class="btn btn-primary btn-action">
          <i class="icon icon-refresh"></i>
        </button>
      </div>
      <div class="form-inline mx-2">
        <select class="form-select" @change="setCurrentStore($event.target.value)">
          <option v-for="store in stores" :key="store.id" :value="store.id">
            {{ store.store_name }}
          </option>
        </select>
      </div>
      <div class="form-inline">
        <div class="btn-group btn-group-block order-status">
          <button v-on:click="showInProcessOrders = true" :class="orderButtonClass('inProcess')">En Proceso</button>
          <button v-on:click="showInProcessOrders = false" :class="orderButtonClass('completed')">Completadas</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column col-12 orders">

    <content-placeholders v-show="ordersLoading">
      <template v-for="n in 5">
        <content-placeholders-text :key="n"/>
      </template>
    </content-placeholders>

    <div class="empty" v-show="!ordersLoading && resources.length == 0">
      <div class="empty-icon">
        <i class="icon icon-4x icon-check"></i>
      </div>
      <p class="empty-title h5">{{ emptyMessage }}</p>
    </div>

    <shipping-modal @labelObtained="labelReceived"></shipping-modal>
    <print-modal></print-modal>

    <order v-for="r in resources"
      :key="r.id"
      :resource="r"
      @orderUpdated="updateOrder"></order>

    <ul class="pagination">
      <li class="page-item" :class="{ disabled: pageIndex == 1 }">
        <a tabindex="-1" href="#" @click.prevent="gotoPrevious()">
          &#8249; Anterior
        </a>
      </li>
      <li
        v-for="page in pageButtons"
        :key="page"
        class="page-item"
        :class="{ active: page === pageIndex }"
      >
        <a href="#" @click.prevent="gotoPage(page)"> {{ page }} </a>
      </li>
      <li
        class="page-item"
        :class="{ disabled: pageIndex == pageCount }"
      >
        <a tabindex="-1" href="#" @click.prevent="gotoNext()">
          Próximo &#8250;
        </a>
      </li>
    </ul>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { fetchOrders } from '@/api'

import ShippingModal from '../components/ShippingModal.vue'
import PrintModal from '../components/PrintModal.vue'
import Order from '../components/Order.vue'

export default {
  name: 'Orders',
  components: {
    ShippingModal,
    PrintModal,
    Order
  },
  data: function () {
    return {
      pageIndex: 1,
      pageCount: 0,
      resources: [],
      ordersLoading: false,
      showInProcessOrders: true
    }
  },
  watch: {
    pageIndex: function () {
      this.fetchOrders()
    },
    showInProcessOrders: function () {
      this.resources = []
      this.fetchOrders()
    },
    stores: function () {
      this.fetchOrders()
    },
    currentStore: function () {
      this.fetchOrders()
    }
  },
  methods: {
    ...mapActions([
      'fetchStores',
      'setCurrentStore'
    ]),
    gotoPrevious: function () {
      if (this.pageIndex > 1) this.pageIndex--
    },
    gotoNext: function () {
      if (this.pageIndex < this.pageCount) this.pageIndex++
    },
    gotoPage: function (page) {
      if (Number.isInteger(page)) this.pageIndex = page
    },
    fetchOrders () {
      this.resources = []
      this.ordersLoading = true

      var status = 'completed'
      if (this.showInProcessOrders) {
        status = 'processing'
      }

      var vm = this

      fetchOrders(this.currentStore, status, this.pageIndex)
        .then(responseData => {
          this.ordersLoading = false

          if (responseData.length > 0) {
            vm.pageCount = responseData[0].total_pages
          }

          this.resources = responseData
        }).catch(() => {
          this.ordersLoading = false
        })
    },
    orderButtonClass: function (btn) {
      if ((this.showInProcessOrders && btn === 'inProcess') ||
          (!this.showInProcessOrders && btn === 'completed')) {
        return 'btn active'
      }

      return 'btn'
    },
    labelReceived: function (labels, resource) {
      var vm = this
      this.resources.forEach(function (r, index) {
        if (resource.id === r.id) {
          r.meta_data.push({
            key: 'label_url'
          })
          vm.$set(vm.resources, index, r)
        }
      })
    },
    updateOrder: function (orderId) {
      this.resources = this.resources.filter(function (value, index, arr) {
        return value.id !== orderId
      })
    }
  },
  computed: {
    ...mapGetters({
      stores: 'getStores',
      currentStore: 'getCurrentStore'
    }),
    emptyMessage: function () {
      if (this.showInProcessOrders) {
        return 'No hay ordenes por procesar'
      }

      return 'No hay ordenes procesadas'
    },
    pageButtons: function () {
      let idx = this.pageIndex
      if (this.pageCount < 3) {
        return Array.from({ length: this.pageCount }, (v, k) => k + 1)
      }
      if (idx < 3) {
        return [1, 2, 3, '...', this.pageCount]
      } else {
        if (idx + 2 < this.pageCount) {
          return [1, '...', idx - 1, idx, idx + 1, '...', this.pageCount]
        } else {
          // eslint-disable-next-line
          return [1, "...", this.pageCount - 2, this.pageCount - 1, this.pageCount]
        }
      }
    }
  },
  created () {
    this.fetchStores()
  }
}

</script>

<style scoped>
 .orders {
   margin-top: 1.5rem;
 }
 .order-status {
   display: block !important;
 }
</style>
