<template>
  <Layout>
    <section class="section">
      <h1 class="title">Sobre nosotros</h1>
      <p>{{ $static.store.about }}</p>
    </section>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Sobre nosotros'
  }
}
</script>

<static-query>
  query {
    store(id: "1") {
      about
    }
  }
</static-query>
