<template>
  <Layout>
    <section class="section">
      <div class="columns">
        <div class="column">
          <table class="table is-fullwidth has-mobile-cards" v-if="cartProducts.length > 0">
            <thead class="has-background-primary">
              <tr>
                <th></th>
                <th></th>
                <th class="has-text-white">Producto</th>
                <th class="has-text-white">Precio</th>
                <th class="has-text-white">Cantidad</th>
                <th class="has-text-white">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in cartProducts"
                :key="product.dispId"
                class="item">
                <td>
                  <a class="delete" @click="removeProductFromCart(product)"></a>
                </td>
                <td>
                  <figure class="image is-64x64">
                    <img :src="product.images[0].src">
                  </figure>
                </td>
                <td>
                  <g-link :to="'/product/' + product.slug">{{ productDispName(product) }}</g-link>
                </td>
                <td>{{ product.price }}</td>
                <td>
                  <div class="item-count">
                    <b-field>
                      <b-numberinput
                        :value="product.quantity"
                        @input="setItemQuantity({product, $event})"
                        min="1"
                        controls-position="compact"
                        size="is-small">
                      </b-numberinput>
                    </b-field>
                  </div>
                </td>
                <td>{{ product.quantity * product.price }}</td>
              </tr>
            </tbody>
          </table>
          <article class="message is-info" v-else>
            <div class="message-body">
              Tu carrito está vacío.
            </div>
          </article>
          <g-link to="/" v-if="cartProducts.length==0" class="button is-primary">Volver a la tienda</g-link>
          <g-link to="/checkout/" class="button is-primary is-large" v-else>Finalizar compra</g-link>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Cart',
  methods: {
    ...mapActions('cart', [
      'setItemQuantity',
      'removeProductFromCart'
    ]),
    productDispName (p) {
      if (p.hasOwnProperty('chosenAtts')) {
        var dispName = p.name + ' '

        p.chosenAtts.forEach((a) => {
          dispName = dispName + '- ' + a.option
        })

        return dispName

      }

      return p.name

    }
  },
  computed: {
    ...mapGetters('cart', {
      cartProducts: 'cartProducts'
    })
  },
  metaInfo: {
    title: 'Carrito'
  }
}
</script>

<style scoped>
 @media screen and (min-width:768px) {
   .item {
     height: 8em;
   }
   .item-count {
     width: 6em;
   }
 }
 @media screen and (max-width:768px) {
   .table.has-mobile-cards thead {
     display:none
   }
   .table.has-mobile-cards tfoot th {
     border:0;
     display:inherit
   }
   .table.has-mobile-cards tr {
     box-shadow:0 2px 3px hsla(0,0%,4%,.1),0 0 0 1px hsla(0,0%,4%,.1);
     max-width:100%;
     position:relative;
     display:block
   }
   .table.has-mobile-cards tr td {
     border:0;
     display:inherit
   }
   .table.has-mobile-cards tr td:last-child {
     border-bottom:0
   }
   .table.has-mobile-cards tr:not(:last-child) {
     margin-bottom:1rem
   }
   .table.has-mobile-cards tr:not([class*=is-]) {
     background:inherit
   }
   .table.has-mobile-cards tr:not([class*=is-]):hover {
     background-color:inherit
   }
   .table.has-mobile-cards tr.detail {
     margin-top:-1rem
   }
   .table.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td {
     display:flex;
     width:auto;
     justify-content:space-between;
     text-align:right;
     border-bottom:1px solid #f5f5f5
   }
   .table.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td:before {
     content:attr(data-label);
     font-weight:600;
     padding-right:.5em;
     text-align:left
   }
 }
</style>
