<template>
  <Layout>
    <section class="section">
      <h1 class="title is-2 has-text-centered">Finalizar orden</h1>
      <div class="columns">
        <div class="column is-two-thirds">
          <section>
            <h2 class="is-size-3">Detalles de facturación</h2>

            <billing-form form-name="billing"
              @valid="validityStatus">
            </billing-form>

            <contact-form form-name="contact"
              @valid="validityStatus">
            </contact-form>
          </section>

          <section>
            <label class="checkbox">
              <span class="is-size-3">¿Enviar a una dirección diferente?</span>
              <b-checkbox v-model="differentShipping" class="checkbox-spacing"></b-checkbox>
            </label>

            <div v-if="differentShipping">
              <shipping-form form-name="shipping"
                @valid="validityStatus">
              </shipping-form>
            </div>
          </section>
        </div>
        <div class=" is-offset-1 column">
          <article class="box">
            <p class="title">Tu pedido</p>
            <p v-for="product in cartProducts" :key="product.dispId">
              {{product.name}} - {{ product.price }} × <b>{{ product.quantity }}</b>
            </p>
            <br>
            <div v-show="ivuApplies">
              <p>Subtotal <b>{{ subtotal }}</b></p>
              <p>IVU <b>{{ tax }}</b></p>
              <p>Total <b>{{ total }}</b></p>
            </div>
            <div v-show="!ivuApplies">
              <p>Total <b>{{ subtotal }}</b></p>
            </div>
          </article>
          <div class="buttons">
            <b-button @click="checkout"
              type="is-primary"
              size="is-large"
              :disabled="!formsReady"
              expanded>Finalizar compra</b-button>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
import axios from 'axios'

import { mapGetters } from 'vuex'
import { createHelpers } from 'vuex-map-fields'

const { mapFields } = createHelpers({
  getterType: 'checkout/getField',
})

import ShippingForm from '../components/ShippingForm.vue'
import BillingForm from '../components/BillingForm.vue'
import ContactForm from '../components/ContactForm.vue'

export default {
  name: 'Checkout',
  metaInfo: {
    title: 'Finalizar orden',
    script: [
      { src: 'https://js.stripe.com/v3/' }
    ]
  },
  components: {
    ShippingForm,
    BillingForm,
    ContactForm,
  },
  data: function () {
    return {
      differentShipping: false,
      shippingFormValid: false,
      billingFormValid: false,
      contactFormValid: false,
      stripePublicKey: process.env.GRIDSOME_STRIPE_PUBLIC_KEY,
      storeId: process.env.GRIDSOME_STORE_ID,
      gridsomeAPIServer: process.env.GRIDSOME_API_SERVER,
    }
  },
  methods: {
    checkout () {
      var checkoutSessionId = ''
      var stripe = Stripe(this.stripePublicKey)

      var shipping = this.shipping
      if (!this.differentShipping) {
        shipping = this.billing
      }

      axios
        .post(`${this.gridsomeAPIServer}/api/store/${this.storeId}/checkout/`,
              { contact: this.contact,
                shipping: shipping,
                billing: this.billing,
                products: this.cartProducts })
        .then(response => {
          checkoutSessionId = response.data.id

          stripe.redirectToCheckout({
            sessionId: checkoutSessionId
          }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
            console.log(result)
          })
        })
        .catch(e => {
          console.log(e)
        })
    },
    validityStatus (valid, formName) {
      if (formName === 'billing') {
        this.billingFormValid = valid
      } else if (formName === 'contact') {
        this.contactFormValid = valid
      } else {
        this.shippingFormValid = valid
      }
    }
  },
  computed: {
    ...mapGetters('cart', {
      cartProducts: 'cartProducts',
      subtotal: 'cartSubtotal',
      tax: 'cartTax',
      total: 'cartTotal'
    }),
    ...mapFields([
      'billing',
      'shipping',
      'contact',
    ]),
    ivuApplies: function () {
      return this.shipping.country === 'PR'
    },
    formsReady: function () {
      if (this.differentShipping) {
        return this.shippingFormValid && this.billingFormValid && this.contactFormValid
      }
      return this.billingFormValid && this.contactFormValid
    }
  }
}
</script>

<style scoped>
 .checkbox-spacing {
   margin-left: 0.5em;
 }
</style>
