<template>
  <Layout :no-container="true">
    <section class="hero is-medium is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            {{ $static.store.name }}
          </h1>
          <h2 class="subtitle">
            {{ $static.store.description }}
          </h2>
          <p class="subtitle is-5">Envio gratis a Puerto Rico y EEUU</p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container is-fullhd">
        <div class="columns is-multiline">
          <div class="column is-4 has-text-centered cont"
            v-for="c in $page.categories.edges"
            :key="c.node.id">
            <div class="is-overlay dark"></div>
            <g-link :to="'/category/' + c.node.slug" class="is-size-4">
              <h3 class="title is-4 is-uppercase">{{ c.node.name }}</h3>
              <p class="subtitle is-5 has-text-primary has-text-weight-bold">Ver todos</p>
              <figure class="image">
                <g-link :to="'/category/' + c.node.slug">
                  <img :src="c.node.image.src">
                </g-link>
              </figure>
            </g-link>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
  query WooCategory {
    categories: allCategory {
      edges {
        node {
          id
          name
          slug
          image {
            src
          }
        }
      }
    }
  }
</page-query>

<static-query>
  query {
    store(id: "1") {
      name
      description
    }
  }
</static-query>

<script>
export default {
  name: 'Index',
  metaInfo: {
    title: 'Hecho en Luzbella'
  }
}
</script>

<style scoped>
 .cont {
   position: relative;
   display: inline-block;
 }

 .cont:hover > .dark {
   background: rgba(0,0,0,0.1);
   transition: 0.5s ease-in-out;
   z-index: 100;
   pointer-events: none;
 }
</style>
