<template>
  <Layout>
    <section class="section">
      <h1 class="title is-2 is-uppercase">Todos</h1>
    </section>
    <section class="section">
      <product-grid :products="$static.products.edges"></product-grid>
    </section>
  </Layout>
</template>

<static-query>
  query WooProduct {
    products: allProduct {
      edges {
        node {
          id
          name
          price
          slug
          images {
            src
          }
        }
      }
    }
  }
</static-query>

<script>
import ProductGrid from '../components/ProductGrid.vue'

export default {
  name: 'Index',
  metaInfo: {
    title: 'Hecho en Luzbella'
  },
  components: {
    ProductGrid
  }
}
</script>

<style>

</style>
