<template>
  <Layout :no-container="true">
    <section class="hero is-medium is-success">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">Gracias por su compra</h1>
          <h2 class="subtitle">
            Pronto recibira su recibo por correo electronico.
          </h2>
          <p>
            Cualquier pregunta, por favor <g-link to="/help/">contactenos.</g-link>
          </p>
        </div>
      </div>
    </section>
  </Layout>
</template>


<script>
import { mapActions } from 'vuex'

export default {
  name: "Success",
  methods: {
    ...mapActions('cart', [
      'clearCart',
    ]),
  },
  mounted: function () {
    this.clearCart()
  }
}

</script>

<style>
</style>
