<template>
<div>
    <h1>{{ msg }}</h1>
    <p>
      Comencemos a preparar ordenes para nuestros clientes.
    </p>
    <router-link to="/orders">
      <button class="btn btn-primary">
        Ver ordenes
      </button>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style scoped lang="scss">

</style>
