<template>
  <span v-if="attributeValue" class="chip">
    <slot></slot>: {{ this.attributeValue }}
  </span>
</template>

<script>

export default {
  name: 'ItemAttribute',
  props: {
    metaData: {
      type: Array
    },
    attributeName: {
      type: String
    }
  },
  data: function () {
    return {
      attributeValue: ''
    }
  },
  methods: {
    getItemAttribute (metaData, key) {
      var attribute = ''

      metaData.forEach(function (e) {
        if (e.key === key) {
          attribute = e.value
        }
      })

      return attribute
    }
  },
  created () {
    this.attributeValue = this.getItemAttribute(this.metaData, this.attributeName)
  }
}
</script>

<style>
</style>
