<template>
  <div>
    <h6>{{ item.name }}</h6>
    <button :class="downloadButtonClass()"
      @click="getProductImage(item)">Descargar Imagen</button>
    <span class="chip"><b>Cantidad: {{ this.itemQuantity }}</b></span>
    <item-attribute :meta-data="item.meta_data"
      attribute-name="pa_size">Talla</item-attribute>
    <item-attribute :meta-data="item.meta_data"
      attribute-name="pa_color">Color</item-attribute>
    <span class="chip">ID: {{ item.product_id }}</span>
  </div>
</template>

<script>
import axios from 'axios'

import { mapGetters } from 'vuex'

import { fetchProduct } from '@/api'

import ItemAttribute from './ItemAttribute.vue'

export default {
  name: 'LineItem',
  components: {
    ItemAttribute
  },
  props: {
    item: {
      type: Object
    }
  },
  data: function () {
    return {
      loadingImage: false
    }
  },
  methods: {
    getProductImage (item) {
      var vm = this

      this.loadingImage = true
      fetchProduct(this.currentStore, item.product_id)
        .then(responseData => {
          var url = responseData.images[0].src
          axios.get(url, { responseType: 'blob' })
            .then((response) => {
              vm.loadingImage = false
              var fileURL = window.URL.createObjectURL(new Blob([response.data]))
              var fileLink = document.createElement('a')
              fileLink.href = fileURL
              fileLink.setAttribute('download', 'image.png')
              document.body.appendChild(fileLink)
              fileLink.click()
            })
        })
    },
    downloadButtonClass: function () {
      if (this.loadingImage) {
        return 'btn btn-link loading'
      }

      return 'btn btn-link'
    }
  },
  computed: {
    ...mapGetters({
      currentStore: 'getCurrentStore'
    }),
    itemQuantity: function () {
      return this.item['quantity']
    }
  }
}
</script>

<style>
</style>
