<template>
  <nav id="nav" class="navbar">
    <section class="navbar-section">
      <router-link to="/" class="navbar-brand mr-2">
        Caja
      </router-link>
    </section>
    <section class="navbar-section d-flex">
      <router-link to="/orders"
        class="btn btn-link">Ordenes</router-link>
      <router-link to="/logout"
        class="btn btn-link"
        v-show="isAuthenticated"
      >Cerrar sesión</router-link>
      <router-link to="/login"
        class="btn btn-link"
        v-show="!isAuthenticated"
      >Iniciar sesión</router-link>
    </section>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Nav',
  computed: {
    ...mapGetters(['isAuthenticated'])
  }
}

</script>

<style>
 .navbar {
   padding-top: 0.5em;
 }
</style>
