<template>
  <div class="card my-2">
    <div class="card-header h5">
      Orden {{ resource.number }}
    </div>
    <div class="card-body">
      <line-item v-for="item in resource.line_items"
        :item="item"
        :key="item.id">
      </line-item>
    </div>
    <div class="card-footer">
      <div v-if="resource.status !== 'completed'" class="btn-group">
        <a :class="markAsDispatchedBtnClass"
          data-tooltip="Para despachar primero prepare envio"
          @click="setOrderComplete(resource.id)">Marcar despachada</a>
        <a @click="showPrintModal(resource.line_items)" class="btn mx-2">Ver Imagenes</a>
        <a @click="showShippingModal(resource)" class="btn">Preparar Envio</a>
      </div>
      <button v-else
        class="btn"
        v-on:click="setOrderProcessing(resource.id)">Marcar en proceso</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import { updateProduct } from '@/api'

import LineItem from './LineItem.vue'

export default {
  name: 'Order',
  data: function () {
    return {
      updatingStatus: false
    }
  },
  props: {
    resource: {
      type: Object
    }
  },
  components: {
    LineItem
  },
  methods: {
    showShippingModal (currentResource) {
      this.$modal.show('shippingModal', { currentResource: currentResource })
    },
    showPrintModal (lineItems) {
      this.$modal.show('printModal', { lineItems: lineItems })
    },
    setOrderStatus (orderId, data) {
      var vm = this
      vm.updatingStatus = true
      updateProduct(this.currentStore, orderId, data)
        .then(responseData => {
          vm.updatingStatus = false
          vm.$emit('orderUpdated', orderId)
          vm.$toasted.success('¡Cambio guardado!', { duration: 2000 })
        })
    },
    setOrderProcessing (orderId) {
      var vm = this

      this.$modal.show('dialog', {
        title: '¿Estas seguro que desear reabrir la orden?',
        buttons: [
          {
            title: 'Reabrir la orden',
            handler: () => {
              var data = { status: 'processing' }
              vm.setOrderStatus(orderId, data)
              vm.$modal.hide('dialog')
            }
          },
          {
            title: 'Cerrar'
          }
        ]
      })
    },
    setOrderComplete (orderId) {
      var vm = this

      this.$modal.show('dialog', {
        title: '¿Estas seguro que la orden esta lista?',
        text: 'Cuando confirmes que la orden esta completa, el cliente recibira un correo electronico.',
        buttons: [
          {
            title: 'La orden esta despachada',
            handler: () => {
              var data = { status: 'completed' }
              vm.setOrderStatus(orderId, data)
              vm.$modal.hide('dialog')
            }
          },
          {
            title: 'Cerrar'
          }
        ]
      })
    }
  },
  computed: {
    ...mapGetters({
      currentStore: 'getCurrentStore'
    }),
    markAsDispatchedBtnClass: function () {
      if (this.labelPrinted && !this.updatingStatus) {
        return 'btn btn-primary tooltip mx-2'
      } else if (this.labelPrinted && this.updatingStatus) {
        return 'btn btn-primary mx-2 loading'
      } else {
        return 'btn btn-primary tooltip mx-2 disabled'
      }
    },
    labelPrinted: function () {
      var result = false

      this.resource.meta_data.forEach(function (metaData) {
        if (metaData.key === 'label_url') {
          result = true
        }
      })

      return result
    }
  }
}
</script>

<style>

</style>
