<template>
  <modal name="printModal" @before-open="setProducts" height="auto">
    <div class="modal-container">
      <div class="modal-header">
        <a v-on:click="hidePrintModal()" class="btn btn-clear float-right c-hand" aria-label="Close"></a>
        <div class="modal-title h5">Impresión</div>
      </div>
      <div class="modal-body">
        <div v-for="product in products" :key="product.id">
          <img class="img-responsive" :src="product.images[0].src">
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link" v-on:click="hidePrintModal()">Cerrar</a>
      </div>
    </div>
  </modal>
</template>

<script>
import { mapGetters } from 'vuex'

import { fetchProducts } from '@/api'

export default {
  name: 'PrintModal',
  data: function () {
    return {
      products: [],
      productsLoading: false
    }
  },
  methods: {
    hidePrintModal () {
      this.$modal.hide('printModal')
    },
    setProducts (event) {
      this.productsLoading = true

      var lineItems = event.params.lineItems

      var productIds = []

      lineItems.forEach(function (lineItem) {
        productIds.push(lineItem.product_id)
      })

      fetchProducts(this.currentStore, productIds)
        .then(responseData => {
          this.productsLoading = false
          this.products = responseData
          return this.products
        }).catch(error => {
          this.productsLoading = false
          this.$toasted.error(error.message)
        })
    }
  },
  computed: {
    ...mapGetters({
      currentStore: 'getCurrentStore'
    })
  }
}
</script>

<style>
</style>
