<template>
  <modal name="shippingModal" @before-open="setCurrentResource" height="auto">
    <div class="modal-container">
      <div class="modal-header">
        <a v-on:click="hideShippingModal()" class="btn btn-clear float-right c-hand" aria-label="Close"></a>
        <div class="modal-title h5">Envio</div>
      </div>
      <div class="modal-body">
        <p>Dirección:</p>
        <p>
          {{ shipping.first_name }} {{ shipping.last_name }}<br>
          {{ shipping.address_1 }}<br>
          {{ shipping.address_2 }}<br>
          {{ shipping.city }}, {{ shipping.state }}<br>
          {{ shipping.country}}, {{shipping.postcode}}<br>
        </p>
        <img class="img-responsive" :key="label" v-for="label in labels" :src="label">
      </div>
      <div class="modal-footer">
        <button :class="downloadButtonClass"
          v-on:click="getShippingLabel(currentResource)">Imprimir sello</button>
        <a class="btn btn-link" @click="hideShippingModal()">Cerrar</a>
      </div>
    </div>
  </modal>
</template>

<script>
import { mapGetters } from 'vuex'

import { fetchShippingLabel } from '@/api'

export default {
  name: 'ShippingModal',
  data: function () {
    return {
      currentResource: {},
      shipping: {},
      labels: [],
      loadingLabel: false
    }
  },
  methods: {
    hideShippingModal () {
      this.$modal.hide('shippingModal')
    },
    setCurrentResource (event) {
      this.currentResource = event.params.currentResource

      var vm = this
      vm.labels = []

      this.currentResource.meta_data.forEach(function (metaData) {
        if (metaData.key === 'label_url') {
          vm.labels = metaData.value
        }
      })

      this.shipping = event.params.currentResource.shipping
    },
    getShippingLabel: function (currentResource) {
      this.loadingLabel = true
      fetchShippingLabel(this.currentStore, currentResource)
        .then(responseData => {
          this.labels = responseData.label_urls
          this.loadingLabel = false
          this.$emit('labelObtained', this.labels, currentResource)
        }).catch(() => {
          this.loadingLabel = false
        })
    }
  },
  computed: {
    ...mapGetters({
      currentStore: 'getCurrentStore'
    }),
    downloadButtonClass () {
      if (this.loadingLabel) {
        return 'btn btn-link loading'
      } else if (this.labels.length > 0) {
        return 'btn btn-primary disabled'
      } else {
        return 'btn btn-primary'
      }
    }
  }
}
</script>

<style>
</style>
