<template>
  <main>
    <main-nav :site-name="$static.store.name"></main-nav>
    <section v-if="!noContainer">
      <div class="container is-fullhd">
        <slot/>
      </div>
    </section>
    <section v-else>
      <slot/>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            © {{ $static.store.name }} {{ new Date().getFullYear() }}
          </p>
        </div>
      </div>
    </footer>
  </main>
</template>

<static-query>
  query {
    store(id: "1") {
      name
    }
  }
</static-query>

<script>
import MainNav from '../components/MainNav.vue'

export default {
  name: 'Default',
  components: {
    MainNav
  },
  props: {
    noContainer: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>

</style>
