<template>
  <div id="app">
    <div class="container grid-lg">
      <top-nav></top-nav>
      <router-view/>
    </div>
    <v-dialog/>
  </div>
</template>

<script>
import TopNav from './components/Nav.vue'

export default {
  name: 'App',
  components: {
    TopNav
  }
}
</script>

<style lang="scss">
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/icons";
@import "node_modules/spectre.css/src/spectre-exp";

.navbar {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h2,
.h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
</style>
